* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #f4f4f4;
  --golden-hour: #f1b555;
  --antique-brown: #9b281a;
}

a {
  text-decoration: none;
  color: #000;
}

p,
h1,
h2,
h3 {
  cursor: pointer;
}

p {
  font-size: 20px;
}

.go_to_page {
  width: 100%;
  height: 12rem;
  text-align: center;
  /* border: 2px solid red; */
}

.go_to_page button {
  font-size: 16px;
  padding: 5px 15px;
  margin-top: 7rem;
  background-color: #fff;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 5px;
  box-shadow: 0px 3px 5px var(--golden-hour);
}

.go_to_page button:hover {
  border: 1px solid var(--golden-hour);
}

.go_to_page button:active {
  transition: all 0.2s linear;
  background-color: var(--golden-hour);
}

.go_to_page i {
  color: var(--golden-hour);
  text-shadow: 0px 3px 5px var(--golden-hour);
}

.main_container {
  width: 100%;
}

.main_container .card_container {
  width: 100%;
  display: flex;
  padding: 0.8rem;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  gap: 2rem 0.8rem;
}

.main_container .card_container .card {
  width: 20rem;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 3px 6px 0px rgb(122, 118, 118);
}

.main_container .card_container .card:hover {
  animation: remove_overflow 1.5s forwards;
}

@keyframes remove_overflow {
  to {
    overflow: initial;
  }
}

.main_container .card_container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.main_container .card_container .card .card_info {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #00000054;
  transition: all 0.5s linear;
  border: 2px solid var(--golden-hour);
}

.main_container .card_container .card .card_info h3,
p,
h2 {
  color: var(--gray);
  animation: effect 1s linear;
}

.main_container .card_container .card .card_info:hover h3,
.main_container .card_container .card .card_info:hover h2,
.main_container .card_container .card .card_info:hover p,
.main_container .card_container .card .card_info:hover .review i {
  animation: text 0.8s forwards;
}

@keyframes text {
  50% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.main_container .card_container .card:hover .card_info {
  z-index: 2;
  background-color: #000000c7;
}

.main_container .card_container .card .card_info .review i {
  color: var(--golden-hour);
}

.main_container .card_container .card .card_info .review .card_btn {
  padding: 8px 20px;
  border-radius: 3px;
  color: var(--gray);
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 102%;
  right: 27%;
  outline: none;
  background-color: var(--black);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.473);
}

.main_container .card_container .card .card_info .review .card_btn:hover {
  background-color: var(--golden-hour);
  color: var(--black);
 padding: 6px 20px;
}

.main_container .card_container .card:hover .card_info .review .card_btn {
  animation: info_card 0.8s forwards;
  opacity: 1;
  transition: opacity 0.3s;
  border: 2px solid var(--golden-hour);
}

@keyframes info_card {
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(-2rem);
    opacity: 1;
  }
}


/* === pagination css start === */

.pagination {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  gap: 10px;
}

.pagination button {
  border: 2px solid red;
  padding: 8px 15px;
  border: none;
  background: #000;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background: var(--golden-hour);
  color: black;
}

#scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color:var(--golden-hour);
  transform-origin: left;
  z-index: 1000;
}