* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
   --gray: #f4f4f4;
  --golden-hour: #f1b555;
  --antique-brown: #9b281a;
}

a {
  text-decoration: none;
  color: #000;
}

h2{
  cursor: pointer;
  font-size: 23px;
}

.go_to_page {
  width: 100%;
  height: 10rem;
  text-align: center;
  background-color: var(--gray);
}

.go_to_page button {
  font-size: 16px;
  padding: 5px 15px;
  margin-top: 7.5rem;
  background-color: #fff;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 5px;
  box-shadow: 0px 3px 5px var(--golden-hour);
}

.go_to_page button:hover {
  border: 1px solid var(--golden-hour);
}

.go_to_page button:active {
  transition: all 0.2s linear;
  background-color: var(--golden-hour);
}

.go_to_page i {
  color: var(--golden-hour);
  text-shadow: 0px 3px 5px var(--golden-hour);
}

.card_container {
  width: 100%;
  background-color: var(--gray);
}

.card_container .card_parent {
  width: 100%;
  display: flex;
  padding: 3.5rem 2rem;
  flex-wrap: wrap;
  gap: 3rem 2.7rem;
  /* border: 2px solid red; */
}

.card_container .card_parent .office_card {
  width: 18rem;
  height: 27rem;
  background-color: var(--white);
  padding: 1rem;
  box-shadow: 0px 8px 15px rgb(104, 103, 103);
}

.card_container .card_parent .office_card .image_box{
  width: 15rem;
  height: 18rem;
  margin: 0.3rem 0 0.7rem 0.4rem;
  overflow: hidden;
  background-color:var(--white) ;
  box-shadow: 0px 8px 15px rgb(104, 103, 103);
}

.card_container .card_parent .office_card .image_box img {  
  width: 100%;
  height:100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.card_container .card_parent .office_card .image_box img:hover{
 transform: scale(1.3);
} 

a{
  text-decoration: none;
}

.card_container .card_parent .office_card .card_info {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.8rem 0.2rem;
  text-shadow: 0 5px 10px black;
}

.card_container .card_parent .office_card .card_info .View_btn {
  padding: 8px 20px;
  border-radius: 3px;
  color: var(--gray);
  font-weight: bold;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: var(--black);
   box-shadow: 0px 5px 15px rgb(104, 103, 103);
}

.card_container .card_parent .office_card .card_info .View_btn:hover {
  background-color: var(--golden-hour);
  color: var(--black);
  padding: 8px 20px;
   box-shadow: 0px 8px 15px rgb(104, 103, 103);
}
