@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #f4f4f4;
  --golden-hour: #f1b555;
  --antique-brown: #9b281a;
}

/* ==== SECTIONS PART === */

/*=== section 02 ===*/

.card_container {
  width: 100%;
  padding: 2rem 0;
  /* border: 2px solid blue; */
}

.card_container h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

.card_container h1 span {
  color: var(--golden-hour);
  margin-left: 15px;
  font-family: mv boli;
}

.card_container h1 span::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--golden-hour);
  display: block;
  position: relative;
  bottom: 15px;
}

.card_container .card_box {
  width: 100%;
  margin: 0px auto;
  /* background-color: var(--gray); */
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(4, 0fr);
  padding-top: 50px;
}

.card_container .card_box .card {
  width: 18rem;
  height: 28rem;
  /* border-radius: 50%; */
  margin: 0 0px 0px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: rgb(221, 197, 221) 0px 0px 10px 0px inset;
  transition: 0.4s;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.card_container .card_box .card:hover {
  border-radius: 20px;
  background-color: var(--gray);
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.card_container .card_box .card img {
  width: 18rem;
  height: 20rem;
  /* border-radius: 50%; */
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 5px rgb(221, 197, 221);
  z-index: 1;
  transition: 0.4s;
  /* border: 2px solid green; */
}

.card_container .card_box .card:hover img {
  border-radius: 20px;
  margin-top: -250px;
  transition: 0.5s ease-in-out;
}

.card_container .card_box .card .card_info {
  width: 18rem;
  height: 11rem;
  position: absolute;
  text-align: center;
  top: 25%;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* border: 2px solid rgb(1, 24, 128); */
}

.card_container .card_box .card:hover .card_info {
  top: 60%;
}

.card_container .card_box .card .card_info h2 {
  color: var(--golden-hour);
}

.card_container .card_box .card .card_info p,
h3 {
  color: var(--black);
}

.card_container .card_box .card .card_info .review i {
  color: var(--golden-hour);
}

.card_container .card_box .card .card_info .review .card_btn {
  padding: 5px 15px;
  margin-top: 6px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: var(--black);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.473);
}

.card_container .card_box .card .card_info .review .card_btn:hover {
  background-color: var(--golden-hour);
  color: var(--black);
}

/* === section 03 ===  */

.section03 {
  width: 100%;
  height: auto;
}

.detail_1 {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 0 5rem 0;
  /* background-color: var(--gray); */
}

.detail_1 img {
  width: 45%;
  box-shadow: 0px 0px 6px 3px;
  animation: detail_1img linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
}

.detail_1 .para {
  width: 45%;
  text-align: center;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: detail_1para linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
}

.detail_1 .para h1 {
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

.detail_1 .para h1 span {
  color: var(--golden-hour);
  margin-left: 15px;
  font-family: mv boli;
  font-size: 38px;
  font-weight: bold;
}

.detail_1 .para p {
  font-size: 17px;
}

@keyframes detail_1img {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}

@keyframes detail_1para {
  from {
    opacity: 0;
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}

.detail_2 .para {
  animation: detail_1img linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
}

.detail_2 img {
  animation: detail_1para linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
}
