@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p,
h3 {
  color: var(--black);
  font-style: italic;
}

h2 {
  text-transform: capitalize;
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #f4f4f4;
  --golden-hour: #f1b555;
  --antique-brown: #9b281a;
}

/* ==== SECTIONS PART === */

/*=== section 02 ===*/

body {
  background-color: var(--gray);
  overflow-x: hidden;
}
.card_container {
  width: 100%;
  padding-top: 3rem;
  background-color: var(--gray);
}

.card_container h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

.card_container h1 span {
  color: var(--golden-hour);
  margin-left: 15px;
  font-family: mv boli;
}

.card_container .card_box {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  align-content: center;
  gap: 3rem;
  padding-top: 50px;
}

.card_container .card_box .card {
  width: 22rem;
  height: 24rem;
  /* border-radius: 50px 0 50px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 6px 0px;
  animation: scroll linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
}

@keyframes scroll {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.card_container .card_box .card img {
  width: 22rem;
  height: 24rem;
  /* border-radius: 50px 0 50px 0; */
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.card_container .card_box .card:hover img {
  backdrop-filter: blur(10px);
}

.card_container .card_box .card .card_info {
  width: 22rem;
  height: 90%;
  position: absolute;
  text-align: center;
  /* border-radius: 15px; */
  top: 25%;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
  padding: 2rem;
}

.card_container .card_box .card .card_info p,
h3 {
  color: var(--white);
}

.card_container .card_box .card:hover .card_info {
  /* border-radius: 50px 0 50px 0; */
  animation: show-card 1s forwards;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.836);
}

@keyframes show-card {
  50% {
    transform: translateY(-8.5rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

.card_container .card_box .card .card_info h2 {
  color: var(--golden-hour);
}

.card_container .card_box .card .card_info .review i {
  color: var(--golden-hour);
}

.card_container .card_box .card .card_info .review .card_btn {
  padding: 9px 19px;
  margin-top: 1rem;
  border-radius: 5px;
  color: var(--black);
  font-weight: bold;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: var(--gray);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.473);
}

.card_container .card_box .card .card_info .review .card_btn:hover {
  background-color: var(--golden-hour);
  color: var(--black);
}

/* === section 03 ===  */

.section03 {
  width: 100%;
  height: auto;
}

.detail_1 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 0 5rem 0;
}

.detail_1 .img_div {
  width: 45%;
  height: 25rem;
  box-shadow: 0px 0px 6px 0px;
  animation: detail_1img linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
  overflow: hidden;
}

.detail_1 .img_div img {
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 25rem;
}

.detail_1 .img_div img:hover {
  transform: scale(1.2);
}

.detail_1 .para {
  width: 45%;
  text-align: center;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: detail_1para linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
}

.detail_1 .para h1 {
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

.detail_1 .para h1 span {
  color: var(--golden-hour);
  margin-left: 15px;
  font-family: mv boli;
  font-size: 38px;
  font-weight: bold;
}

.detail_1 .para p {
  font-size: 17px;
}

@keyframes detail_1img {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}

@keyframes detail_1para {
  from {
    opacity: 0;
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}

/* === section 05 ===  */

.detail_2 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 0 5rem 0;
}

.detail_2 .img_div_2 {
  width: 45%;
  height: 25rem;
  box-shadow: 0px 0px 6px 0px;
  animation: detail_2img linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
  overflow: hidden;
}

@keyframes detail_2img {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.detail_2 .img_div_2 img {
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 25rem;
}

.detail_2 .img_div_2 img:hover {
  transform: scale(1.2);
}

.detail_2 .para_2 {
  width: 45%;
  text-align: center;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: detail_2para2 linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
}

.detail_2 .para_2 h1 {
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

.detail_2 .para_2 h1 span {
  color: var(--golden-hour);
  margin-left: 15px;
  font-family: mv boli;
  font-size: 38px;
  font-weight: bold;
  line-height: 2.5rem;
}

@keyframes detail_2para2 {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}

/* === section 06 ===  */

.section06 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--gray);
  margin: 2rem 0;
}

.section06 h1 {
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

.section06 h1 span {
  color: var(--golden-hour);
  margin-left: 15px;
  font-family: mv boli;
  font-size: 38px;
  font-weight: bold;
}

.section06 .card_container {
  width: 100%;
}

.section06 .card_container .card_box_1,
.card_box_2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
  background-color: var(--gray);
}

.section06 .card_container .card {
  width: 41%;
  height: 19rem;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  transform: skewX(15deg);
  animation: box_1card_1 linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
  box-shadow: 0px 6px 13px 0px rgb(102, 100, 100);
}

@keyframes box_1card_1 {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.section06 .card_container .card:hover {
  box-shadow: 0px 6px 13px 0px var(--golden-hour);
}

.section06 .card_container .card img {
  width: 100%;
  height: 19rem;
  z-index: 1;
  animation: remove-card 0.8s forwards;
  border-radius: 10px 10px 10px 10px;
  object-fit: cover;
}

@keyframes remove-card {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.section06 .card_container .card:hover img {
  animation: Dining-card 0.8s forwards;
}

@keyframes Dining-card {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

.section06 .card_container .card .card_info {
  width: 50%;
  height: 19rem;
  position: fixed;
  right: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0px 10px 10px 0px;
}

.section06 .card_container .card .card_info p {
  color: var(--white);
  font-style: italic;
}

.section06 .card_container .card .card_info h2,
.review i {
  font-style: italic;
  color: var(--golden-hour);
}

.section06 .card_container .card .card_info .card_btn {
  padding: 9px 19px;
  margin-top: 1rem;
  border-radius: 5px;
  color: var(--black);
  font-weight: bold;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: var(--white);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.473);
}

.section06 .card_container .card .card_info .card_btn:hover {
  background-color: var(--golden-hour);
  color: var(--black);
}

.section06 .img_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.section06 .img_container .img_div {
  width: 45%;
  height: 25rem;
  box-shadow: 0px 0px 6px 0px;
  animation: dining_img linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
  overflow: hidden;
}

@keyframes dining_img {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.section06 .img_container .img_div img {
  width: 100%;
  height: 25rem;
  box-shadow: 0px 0px 6px 0px;
  transition: 0.5s ease-in-out;
}

.section06 .img_container img:hover {
  transform: scale(1.2);
}

.section06 .img_container .description {
  width: 45%;
  text-align: center;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: dining_discr linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
}

@keyframes dining_discr {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.section06 .img_container .description h1 {
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

.section06 .img_container .description h1 span {
  color: var(--golden-hour);
  margin-left: 15px;
  font-family: mv boli;
  font-size: 38px;
  font-weight: bold;
  line-height: 2.5rem;
}

/* === section 07 ===  */

.section07 {
  width: 100%;
  padding: 10rem 0rem;
  /* border: 2px solid red; */
}

.section07 .office_card_box {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-content: center;
  justify-items: center;
  padding-top: 50px;
}

.section07 .office_card_box .office_card {
  /* border: 2px solid rgb(3, 6, 196); */
  width: 25rem;
  position: relative;
  height: 25rem;
  background-color: rgb(212, 207, 207);
  overflow: hidden;
}

.section07 .office_card_box .office_card .img_1 {
  width: 24rem;
  height: 23rem;
  position: absolute;
  right: 56%;
  bottom: 54%;
  transform: skewY(5deg) skewX(5deg);
}

.section07 .office_card_box .office_card .img_1:hover {
  width: 25rem;
  height: 28rem;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  transition: all 0.8s ease-in-out;
  transform: skewY(0deg) skewX(0deg);
}

.section07 .office_card_box .office_card .img_2 {
  width: 24rem;
  height: 23rem;
  position: absolute;
  transform: skewY(-3deg) skewX(-5deg);
  left: 52%;
  bottom: 52%;
}

.section07 .office_card_box .office_card .img_2:hover {
  width: 25rem;
  height: 28rem;
  left: 0%;
  bottom: 0%;
  z-index: 1;
  transition: all 0.8s ease-in-out;
  transform: skewY(0deg) skewX(0deg);
}

.section07 .office_card_box .office_card .img_3 {
  width: 24rem;
  height: 23rem;
  position: absolute;
  transform: skewY(-3deg) skewX(-5deg);
  top: 53%;
  right: 56%;
}

.section07 .office_card_box .office_card .img_3:hover {
  width: 25rem;
  height: 28rem;
  right: 0%;
  top: 0%;
  z-index: 1;
  transition: all 0.8s ease-in-out;
  transform: skewY(0deg) skewX(0deg);
}

.section07 .office_card_box .office_card .img_4 {
  width: 24rem;
  height: 23rem;
  position: absolute;
  transform: skewY(5deg) skewX(5deg);
  left: 52%;
  top: 55%;
}

.section07 .office_card_box .office_card .img_4:hover {
  width: 25rem;
  height: 28rem;
  left: 0%;
  top: 0%;
  z-index: 1;
  transition: all 0.8s ease-in-out;
  transform: skewY(0deg) skewX(0deg);
}
