@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


:root {
  --black: #000;
  --white: #fff;
  --gray: #f4f4f4;
  --golden-hour: #f1b555;
  --antique-brown: #9b281a;
}

/* ==== SECTIONS PART === */

/*=== section 02 ===*/

body {
  background-color: var(--gray);
  overflow-x: hidden;
}
.card_container {
  width: 100%;
  padding-top: 3rem;
  background-color: var(--gray);
  
}

.card_container h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

 .card_container h1 span {
  color: var(--golden-hour);
  margin-left: 15px;
  font-family: mv boli;
}

.card_container h1 span::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--golden-hour);
  display: block;
  position: relative;
  bottom: 15px;
}

.card_container .card_box {
  width: 100%;
  margin:0px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  align-content: center;
  gap: 3rem;
  padding-top: 50px;
} 

.card_container .card_box .card {
  width: 22rem;
  height: 24rem;
  border-radius: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.4s;
  overflow: hidden;
}

 .card_container .card_box .card img {
  width: 22rem;
  height: 24rem;
  border-radius: 50px 0 50px 0;
  object-fit: cover;
  object-position: center;
  z-index: 1;
} 

.card_container .card_box .card:hover img{
 backdrop-filter:blur(10px) ;
 background-color:red;
}

.card_container .card_box .card .card_info {
  width: 20rem;
  height: 16rem;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  top: 25%;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
  padding: 2rem;
  /* border: 2px solid rgb(1, 24, 128); */
}

.card_container .card_box .card:hover .card_info {
   border-radius: 50px 0 50px 0;
  animation: show-card 1s forwards;
  z-index: 2;
  background-color: var(--white);
}

@keyframes show-card {
  50% {
    transform: translateY(-7rem);
  }
  100% {
    transform: translateY(-4.5rem);
  }
}

.card_container .card_box .card .card_info h2 {
  color: var(--golden-hour);
}

.card_container .card_box .card .card_info p,
h3 {
  color: var(--black);
}

.card_container .card_box .card .card_info .review i {
  color: var(--golden-hour);
}

.card_container .card_box .card .card_info .review .card_btn {
  padding: 5px 15px;
  margin-top: 1rem;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: var(--black);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.473);
}

.card_container .card_box .card .card_info .review .card_btn:hover {
  background-color: var(--golden-hour);
  color: var(--black);
}

/* === section 03 ===  */

.section03 {
  width: 100%;
  height: auto;
}

.detail_1 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 0 5rem 0;
  
}

.detail_1 .img_div{
  width: 45%;
  height:25rem ;
  box-shadow: 0px 0px 6px 0px;
  animation: detail_1img linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
  overflow: hidden;
}

.detail_1 .img_div img{
  transition: 0.5s ease-in-out;
   width: 100%;
   height:25rem;
}

.detail_1 .img_div img:hover{
  transform: scale(1.2);
}

.detail_1 .para {
  width: 45%;
  text-align: center;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: detail_1para linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
}

.detail_1 .para h1 {
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

.detail_1 .para h1 span {
  color: var(--golden-hour);
  margin-left: 15px;
  font-family: mv boli;
  font-size: 38px;
  font-weight: bold;
}

.detail_1 .para p {
  font-size: 17px;
}

@keyframes detail_1img {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}

@keyframes detail_1para {
  from {
    opacity: 0;
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  } 
}

/* === section 05 ===  */

.detail_2{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 0 5rem 0;
}

.detail_2 .img_div_2{
   width: 45%;
  height:25rem ;
  box-shadow: 0px 0px 6px 0px;
  animation: detail_2img linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
  overflow: hidden;
}

.detail_2 .img_div_2 img{
  transition: 0.5s ease-in-out;
   width: 100%;
   height:25rem;
}

.detail_2 .img_div_2 img:hover{
  transform: scale(1.2);
}

.detail_2 .para_2 {
  width: 45%;
  text-align: center;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: detail_2para2 linear;
  animation-timeline: view(0);
  animation-range: entry 0 cover 40%;
}

@keyframes  detail_2para2{
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}

@keyframes detail_2img {
  from {
    opacity: 0;
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  } 
}
